/* CSS DIRECTORY:
    ==DESKTOP STYLES==
	--NAVBAR--
  --SEASONS--
  --HERO--
  --ABOUT--
  --FOOTER--
    ==TABLET STYLES==
    ==MOBILE STYLES==
*/
* {
  box-sizing: border-box;
  margin: 0;
  overflow: hidden;
}
/*==================
==DESKTOP STYLES==
 @media (min-width:  770px) {
=====================*/
body,
html {
  max-width: 100vw;
  margin: auto;
  background-color: #81d46f;
  color: #277e15;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
}
img {
  /* width: 100%; */
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
/*-------------------------------*/
.container {
  display: grid;
  grid-template-areas:
    "nav"
    "seasons"
    "hero"
    "about"
    "footer";
  position: relative;
}

/*---Nav--------------------------*/
.navbar {
  grid-area: nav;
  background-color: #5bb648;
  position: sticky;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  height: 10%;
}
.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  list-style: none;
}
.navbar ul li {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0.556rem; /*0 10px;*/
  padding: 0.111rem 1.112rem; /*2px 20px;*/
  text-align: center;
  line-height: 3rem;
}
.navbar > ul li a {
  color: #277e15;
  font-size: 1.5rem;
  font-weight: 800;
}

/*=======Section SEASONS==========*/
.seasons {
  grid-area: seasons;
  display: flex;
  border-bottom: 1px dotted #277e15;
}
/*******Article Timer -----------*/
.timer {
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 0 auto;
}

.outer-ring {
  position: absolute;
  height: 252px;
  width: 252px;
  background-image: linear-gradient(135deg, #fbbdc3 0%, #f78b95 5%, #d35360 15%, #b32c38 50%, #880e19 100%);
  border-radius: 50%;
  /*  Rotate  */
  animation-duration: 5s;
  animation-name: wheel;
  animation-iteration-count: infinite;
}

.inner-ring {
  position: absolute;
  height: 240px;
  width: 240px;
  background-color: #81d46f;
  border-radius: 50%;
}
.timer h3 {
  text-align: center;
  position: absolute;
  top: 25%;
}

.timerCount {
  display: block;
  text-align: center;
  position: absolute;
}

@keyframes wheel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*------Article IMG---------------*/
.img {
  width: 60%;
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  border-left: 1px dotted #277e15;
}
.img img {
  height: 100vh;
  object-fit: cover;
}

/*========Section Hero==========*/
.hero {
  grid-area: hero;
  height: 100vh;
  display: flex;
  border-bottom: 1px dotted #277e15;
}
.message {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.message button.wrapper {
  background: #3f9f2b;
  padding: 15px;
  margin: 50px 30px 50px 0;
  width: 25%;
  border-radius: 20%;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  -ms-border-radius: 20%;
  -o-border-radius: 20%;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: hsl(110, 58%, 30%) 1px 1px 1px 0.5px;
  border: #3f9f2b 4px solid;
  border-radius: 15px;
  animation-duration: 2s;
  animation-name: click-me;
  animation-iteration-count: infinite;
  position: relative;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: transparent;
  color: #880e19;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 0%;
  margin-left: 60px;
  opacity: 0;
  transition: opacity 1s;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes click-me {
  0% {
    transform: translateY(4px);
  }

  50% {
    transform: translateY(4px);
    background-color: #3e8e41;
    border: none;
  }

  100% {
    transform: translateY(4px);
    border: #4caf50 4px solid;
  }
}
.socials {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width: 60%;
}
.socials a {
  font-size: 2rem;
  color: #277e15;
}
.socials a:hover {
  font-size: 1.8rem;
  color: #880e19;
}
ul.tooltip {
  cursor: pointer;
  position: relative;
}

/*------Article MESSAGE---------------*/
/*------Article Video---------------*/
.bg-video {
  width: 60%;
  border-left: 1px dotted #277e15;
}
video {
  opacity: 0.8;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
figure {
  position: relative;
}
figcaption {
  position: absolute;
  bottom: 10px;
  font-size: 0.8rem;
  padding-left: 10px;
}
figure a {
  color: #277e15;
}
/*========Section About==========*/

.about {
  grid-area: about;
  display: flex;
}

/*------Article LOCATION---------------*/
.location {
  width: 40%;
}
#map {
  width: 100%;
  height: 100vh;
}
.mapboxgl-canvas {
  width: 209px;
  height: 500px;
}
.marker {
  background-image: url("images/icon_jar.png");
  background-size: cover;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  width: 50px;
  height: 50px;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/*------Article ABOUT US---------------*/
.aboutUs {
  border-left: 1px dotted #277e15;
  height: 100vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
}
.aboutUs img {
  width: 20%;
}
.aboutUs p {
  width: 80%;
  padding-left: 20px;
}
/*--------Footer Mobile --------------*/

footer.mobile {
  grid-area: footer;
  display: none;
}

/*====================================
    =================================
        ==========================
TABLET STYLES */
@media screen and (min-width: 545px) and (max-width: 769px) {
  html,
  body {
    width: 100%;
    max-width: 100vw;
  }
  .navbar ul li {
    margin: 0;
    padding: 0.111rem 0;
  }
  /*******Article Timer -----------*/
  .timer {
    margin-bottom: 50px;
  }
  .timer h3 {
    top: 18%;
  }
  .outer-ring {
    height: 168px;
    width: 168px;
  }
  .inner-ring {
    height: 156px;
    width: 156px;
  }
  .timerCount {
    font-size: 0.8rem;
  }
}

/*====================================
    =================================
        ==========================
MOBILE STYLES  */

@media screen and (max-width: 544px) {
  /*
SEASONS -> timer
HERO -> message
ABOUT -> location -> about
MOBILE -> mobileNav
  */
  html,
  body {
    min-width: 320px;
    width: 100%;
    max-width: 100vw;
  }
  nav.navbar {
    display: none;
  }
  article.img,
  article.bg-video {
    display: none;
  }
  .seasons {
    height: 100vh;
  }
  .timer {
    width: 100%;
  }
  .timer h3 {
    top: 20%;
  }
  /*------------------------*/
  .message {
    width: 100%;
  }
  /*------------------------*/
  #location {
    width: 100%;
  }
  .mapboxgl-canvas {
    width: 100%;
    height: 100%;
  }
  /*------------------------*/
  .about {
    flex-direction: column;
  }
  #aboutUs {
    width: 100%;
  }

  .aboutUs img {
    width: 50%;
  }

  /*---Nav--------------------------*/
  footer.mobile {
    grid-area: footer;
    display: grid;
  }
  footer nav.mobileNav {
    grid-area: footer;
    background-color: #5bb648;
    position: sticky;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    height: 10%;
  }
  .mobileNav ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    padding-left: 0;
  }
  .mobileNav ul li {
    text-transform: uppercase;
    text-align: center;
    line-height: 2rem;
  }
  .mobileNav > ul li a {
    color: #277e15;
    font-size: 1rem;
    font-weight: 600;
  }
}
